USE [Clinical]
GO
/****** Object:  Table [dbo].[MinutosSemana]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MinutosSemana](
	[MinutosSemanaID] [int] IDENTITY(1,1) NOT NULL,
	[MinutosSemana] [int] NOT NULL,
 CONSTRAINT [PK_MinutosSemana] PRIMARY KEY CLUSTERED 
(
	[MinutosSemanaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MinutosSemana] ON
INSERT [dbo].[MinutosSemana] ([MinutosSemanaID], [MinutosSemana]) VALUES (1, 0)
INSERT [dbo].[MinutosSemana] ([MinutosSemanaID], [MinutosSemana]) VALUES (2, 30)
SET IDENTITY_INSERT [dbo].[MinutosSemana] OFF
/****** Object:  Table [dbo].[MedicoConsultorio]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MedicoConsultorio](
	[MedicoConsultorioID] [int] IDENTITY(1,1) NOT NULL,
	[MedicoID] [int] NOT NULL,
	[NombreConsultorio] [varchar](200) NOT NULL,
	[DireccionConsultorio] [varchar](300) NOT NULL,
	[CiudadID] [int] NOT NULL,
	[TelefonoConsultorio] [varchar](200) NOT NULL,
	[EmailConsultorio] [varchar](100) NOT NULL,
	[NumeroMaximoCitas] [int] NOT NULL,
	[FormaPagoID] [int] NOT NULL,
 CONSTRAINT [PK_Consultorio] PRIMARY KEY CLUSTERED 
(
	[MedicoConsultorioID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MedicoConsultorio] ON
INSERT [dbo].[MedicoConsultorio] ([MedicoConsultorioID], [MedicoID], [NombreConsultorio], [DireccionConsultorio], [CiudadID], [TelefonoConsultorio], [EmailConsultorio], [NumeroMaximoCitas], [FormaPagoID]) VALUES (1, 1, N'CONSULTORIO 5', N'CALLE PAEZ EDIFICIO LA PAZ', 279, N'0212618.16.63', N'ND', 10, 1)
INSERT [dbo].[MedicoConsultorio] ([MedicoConsultorioID], [MedicoID], [NombreConsultorio], [DireccionConsultorio], [CiudadID], [TelefonoConsultorio], [EmailConsultorio], [NumeroMaximoCitas], [FormaPagoID]) VALUES (2, 1, N'LAS AMERICAS', N'CARRETERA PANAMERICANA KM 15 GALERIAS LAS AMERICAS NIVEL MEZZANINA', 285, N'211', N'ND', 10, 4)
INSERT [dbo].[MedicoConsultorio] ([MedicoConsultorioID], [MedicoID], [NombreConsultorio], [DireccionConsultorio], [CiudadID], [TelefonoConsultorio], [EmailConsultorio], [NumeroMaximoCitas], [FormaPagoID]) VALUES (3, 3, N'CONSULTORIO PH-9', N'Edif. Anexo Hospital Clínicas Caracas, Nivel Ph, Consultorio Ph-9, San Bernardino, Caracas.. ', 149, N'(0212)575.0513 (0212)319.7503 (0426)104.6573 (0424)751.5902', N'ND', 10, 4)
SET IDENTITY_INSERT [dbo].[MedicoConsultorio] OFF
/****** Object:  Table [dbo].[MedicoCalendarioSemana]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicoCalendarioSemana](
	[MedicoCalendarioSemanaID] [int] IDENTITY(1,1) NOT NULL,
	[MedicoConsultorioID] [int] NULL,
	[DiaSemanaID] [int] NOT NULL,
	[HoraSemanaID] [int] NOT NULL,
	[MinutosSemanaID] [int] NOT NULL,
	[TipoHoraSemanaID] [int] NOT NULL,
	[IndicaHoraInicial] [bit] NULL,
 CONSTRAINT [PK_CalendarioSemana] PRIMARY KEY CLUSTERED 
(
	[MedicoCalendarioSemanaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicoCalendarioSemana] ON
INSERT [dbo].[MedicoCalendarioSemana] ([MedicoCalendarioSemanaID], [MedicoConsultorioID], [DiaSemanaID], [HoraSemanaID], [MinutosSemanaID], [TipoHoraSemanaID], [IndicaHoraInicial]) VALUES (1, 1, 2, 2, 1, 2, 0)
INSERT [dbo].[MedicoCalendarioSemana] ([MedicoCalendarioSemanaID], [MedicoConsultorioID], [DiaSemanaID], [HoraSemanaID], [MinutosSemanaID], [TipoHoraSemanaID], [IndicaHoraInicial]) VALUES (2, 2, 4, 2, 1, 2, 1)
INSERT [dbo].[MedicoCalendarioSemana] ([MedicoCalendarioSemanaID], [MedicoConsultorioID], [DiaSemanaID], [HoraSemanaID], [MinutosSemanaID], [TipoHoraSemanaID], [IndicaHoraInicial]) VALUES (3, 1, 2, 9, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[MedicoCalendarioSemana] OFF
/****** Object:  Table [dbo].[Medico]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Medico](
	[MedicoID] [int] IDENTITY(1,1) NOT NULL,
	[SexoMedico] [varchar](1) NULL,
	[CedulaMedico] [int] NOT NULL,
	[NombreMedico] [varchar](64) NOT NULL,
	[RIFMedico] [varchar](50) NULL,
	[MSAS] [varchar](50) NULL,
	[ColegioMedico] [varchar](50) NULL,
	[EspecialidadMedicaID] [int] NOT NULL,
	[DescripcionEspecialidad] [varchar](2000) NOT NULL,
	[CelularMedico] [varchar](64) NOT NULL,
	[EmailMedico] [varchar](116) NOT NULL,
 CONSTRAINT [PK_Medico] PRIMARY KEY CLUSTERED 
(
	[MedicoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Medico] ON
INSERT [dbo].[Medico] ([MedicoID], [SexoMedico], [CedulaMedico], [NombreMedico], [RIFMedico], [MSAS], [ColegioMedico], [EspecialidadMedicaID], [DescripcionEspecialidad], [CelularMedico], [EmailMedico]) VALUES (1, N'F', 5978663, N'Ingrid Yepez', N'V05978663-2', N'49976', N'13985', 14, N'ESPECIALISTA EN TRATAMIENTO DE DIABETES', N'04261112211', N'YEPEZ')
INSERT [dbo].[Medico] ([MedicoID], [SexoMedico], [CedulaMedico], [NombreMedico], [RIFMedico], [MSAS], [ColegioMedico], [EspecialidadMedicaID], [DescripcionEspecialidad], [CelularMedico], [EmailMedico]) VALUES (3, N'M', 1, N'Jhenson Sifuentes', N'01', N'0', N'0', 49, N'Médico especialista en traumatología, Cirugía de la columna vertebral, especialista en manejo y tratamiento de la escoliosis', N'0', N'0')
INSERT [dbo].[Medico] ([MedicoID], [SexoMedico], [CedulaMedico], [NombreMedico], [RIFMedico], [MSAS], [ColegioMedico], [EspecialidadMedicaID], [DescripcionEspecialidad], [CelularMedico], [EmailMedico]) VALUES (4, N'M', 2, N'Carlos Arévalo', N'02', N'0', N'0', 11, N'cirugía ortopédica y traumatológica.ortopedia y Traumatología. ortopedia infantil. reemplazos articulares. artroscopia de rodilla. tratamiento de fracturas, enferemdades degenerativas y corrección de deformidades', N'0', N'0')
SET IDENTITY_INSERT [dbo].[Medico] OFF
/****** Object:  Table [dbo].[HoraSemana]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoraSemana](
	[HoraSemanaID] [int] IDENTITY(1,1) NOT NULL,
	[HoraSemana] [int] NOT NULL,
 CONSTRAINT [PK_HoraSemana] PRIMARY KEY CLUSTERED 
(
	[HoraSemanaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HoraSemana] ON
INSERT [dbo].[HoraSemana] ([HoraSemanaID], [HoraSemana]) VALUES (1, 1)
INSERT [dbo].[HoraSemana] ([HoraSemanaID], [HoraSemana]) VALUES (2, 2)
INSERT [dbo].[HoraSemana] ([HoraSemanaID], [HoraSemana]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[HoraSemana] OFF
/****** Object:  Table [dbo].[FormaPago]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FormaPago](
	[FormaPagoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreFormaPago] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FormaPago] PRIMARY KEY CLUSTERED 
(
	[FormaPagoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FormaPago] ON
INSERT [dbo].[FormaPago] ([FormaPagoID], [NombreFormaPago]) VALUES (1, N'EFECTIVO')
INSERT [dbo].[FormaPago] ([FormaPagoID], [NombreFormaPago]) VALUES (2, N'DEBITO')
INSERT [dbo].[FormaPago] ([FormaPagoID], [NombreFormaPago]) VALUES (3, N'CREDITO')
SET IDENTITY_INSERT [dbo].[FormaPago] OFF
/****** Object:  Table [dbo].[EstatusCita]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EstatusCita](
	[EstatusCitaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstatusCita] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EstatusCita] PRIMARY KEY CLUSTERED 
(
	[EstatusCitaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EstatusCita] ON
INSERT [dbo].[EstatusCita] ([EstatusCitaID], [NombreEstatusCita]) VALUES (1, N'NO CONFIRMADA')
INSERT [dbo].[EstatusCita] ([EstatusCitaID], [NombreEstatusCita]) VALUES (2, N'CONFIRMADA')
SET IDENTITY_INSERT [dbo].[EstatusCita] OFF
/****** Object:  Table [dbo].[Estado]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[EstadoID] [int] NOT NULL,
	[NombreEstado] [varchar](50) NOT NULL,
	[Nombre_Iso_3166-2] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[EstadoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Estado] ([EstadoID], [NombreEstado], [Nombre_Iso_3166-2]) VALUES (1, N'Amazonas', N'VE-X')
INSERT [dbo].[Estado] ([EstadoID], [NombreEstado], [Nombre_Iso_3166-2]) VALUES (2, N'Anzoátegui', N'VE-B')
INSERT [dbo].[Estado] ([EstadoID], [NombreEstado], [Nombre_Iso_3166-2]) VALUES (3, N'Apure', N'VE-C')
/****** Object:  Table [dbo].[EspecialidadMedica]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EspecialidadMedica](
	[EspecialidadMedicaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEspecialidadMedica] [varchar](200) NOT NULL,
 CONSTRAINT [PK_EspecialidadMedica] PRIMARY KEY CLUSTERED 
(
	[EspecialidadMedicaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[EspecialidadMedica] ON
INSERT [dbo].[EspecialidadMedica] ([EspecialidadMedicaID], [NombreEspecialidadMedica]) VALUES (1, N'Alergólogo')
INSERT [dbo].[EspecialidadMedica] ([EspecialidadMedicaID], [NombreEspecialidadMedica]) VALUES (2, N'Cardiólogo')
INSERT [dbo].[EspecialidadMedica] ([EspecialidadMedicaID], [NombreEspecialidadMedica]) VALUES (3, N'Cirujano bariátrico')
SET IDENTITY_INSERT [dbo].[EspecialidadMedica] OFF
/****** Object:  Table [dbo].[Enfermedad]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Enfermedad](
	[EnfermedadID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEnfermedad] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Enfermedad] PRIMARY KEY CLUSTERED 
(
	[EnfermedadID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Enfermedad] ON
INSERT [dbo].[Enfermedad] ([EnfermedadID], [NombreEnfermedad]) VALUES (1, N'Abrasión corneal')
INSERT [dbo].[Enfermedad] ([EnfermedadID], [NombreEnfermedad]) VALUES (2, N'Accidentes de tráfico')
INSERT [dbo].[Enfermedad] ([EnfermedadID], [NombreEnfermedad]) VALUES (3, N'Accidentes eléctricos')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[Enfermedad] OFF
/****** Object:  Table [dbo].[DiaSemana]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DiaSemana](
	[DiaSemanaID] [int] IDENTITY(1,1) NOT NULL,
	[DiaSemana] [varchar](12) NOT NULL,
 CONSTRAINT [PK_DiaSemana] PRIMARY KEY CLUSTERED 
(
	[DiaSemanaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DiaSemana] ON
INSERT [dbo].[DiaSemana] ([DiaSemanaID], [DiaSemana]) VALUES (1, N'LUNES')
INSERT [dbo].[DiaSemana] ([DiaSemanaID], [DiaSemana]) VALUES (2, N'MARTES')
INSERT [dbo].[DiaSemana] ([DiaSemanaID], [DiaSemana]) VALUES (3, N'MIERCOLES')
SET IDENTITY_INSERT [dbo].[DiaSemana] OFF
/****** Object:  Table [dbo].[TipoHoraSemana]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoHoraSemana](
	[TipoHoraSemanaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreTipoHoraSemana] [varchar](12) NOT NULL,
 CONSTRAINT [PK_TipoHoraSemana] PRIMARY KEY CLUSTERED 
(
	[TipoHoraSemanaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TipoHoraSemana] ON
INSERT [dbo].[TipoHoraSemana] ([TipoHoraSemanaID], [NombreTipoHoraSemana]) VALUES (1, N'AM')
INSERT [dbo].[TipoHoraSemana] ([TipoHoraSemanaID], [NombreTipoHoraSemana]) VALUES (2, N'PM')
SET IDENTITY_INSERT [dbo].[TipoHoraSemana] OFF
/****** Object:  Table [dbo].[SeguridadUsuarioDatos]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SeguridadUsuarioDatos](
	[SeguridadUsuarioDatosID] [int] IDENTITY(1,1) NOT NULL,
	[LoginUsuario] [varchar](100) NOT NULL,
	[ClaveUsuario] [varchar](100) NOT NULL,
	[NombreCompleto] [varchar](150) NOT NULL,
	[DescripcionUsuario] [varchar](150) NOT NULL,
	[SeguridadGrupoID] [int] NOT NULL,
	[UsuarioTecnico] [bit] NOT NULL,
	[EstatusUsuario] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SeguridadUsuarioDatos] PRIMARY KEY CLUSTERED 
(
	[SeguridadUsuarioDatosID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SeguridadUsuarioDatos] ON
INSERT [dbo].[SeguridadUsuarioDatos] ([SeguridadUsuarioDatosID], [LoginUsuario], [ClaveUsuario], [NombreCompleto], [DescripcionUsuario], [SeguridadGrupoID], [UsuarioTecnico], [EstatusUsuario]) VALUES (2, N'Carceb', N'1', N'CARLOS CEBALLOS', N'ADMINISTRADOR', 10, 0, N'Activo')
INSERT [dbo].[SeguridadUsuarioDatos] ([SeguridadUsuarioDatosID], [LoginUsuario], [ClaveUsuario], [NombreCompleto], [DescripcionUsuario], [SeguridadGrupoID], [UsuarioTecnico], [EstatusUsuario]) VALUES (4, N'Admin', N'1', N'Administrador', N'Admin', 10, 0, N'Activo')
INSERT [dbo].[SeguridadUsuarioDatos] ([SeguridadUsuarioDatosID], [LoginUsuario], [ClaveUsuario], [NombreCompleto], [DescripcionUsuario], [SeguridadGrupoID], [UsuarioTecnico], [EstatusUsuario]) VALUES (21, N'SLaika', N'1', N'SASHA LAIKA', N'RECEPCION', 1, 0, N'Activo')
SET IDENTITY_INSERT [dbo].[SeguridadUsuarioDatos] OFF
/****** Object:  Table [dbo].[SeguridadObjetoAcceso]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguridadObjetoAcceso](
	[SeguridadObjetoAccesoID] [int] IDENTITY(1,1) NOT NULL,
	[SeguridadGrupoID] [int] NOT NULL,
	[SeguridadObjetoID] [int] NOT NULL,
 CONSTRAINT [PK_SeguridadObjetoAcceso] PRIMARY KEY CLUSTERED 
(
	[SeguridadObjetoAccesoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SeguridadObjetoAcceso] ON
INSERT [dbo].[SeguridadObjetoAcceso] ([SeguridadObjetoAccesoID], [SeguridadGrupoID], [SeguridadObjetoID]) VALUES (15, 1, 1)
INSERT [dbo].[SeguridadObjetoAcceso] ([SeguridadObjetoAccesoID], [SeguridadGrupoID], [SeguridadObjetoID]) VALUES (16, 1, 2)
SET IDENTITY_INSERT [dbo].[SeguridadObjetoAcceso] OFF
/****** Object:  Table [dbo].[SeguridadObjeto]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SeguridadObjeto](
	[SeguridadObjetoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreObjeto] [varchar](200) NOT NULL,
 CONSTRAINT [PK_SeguridadObjeto] PRIMARY KEY CLUSTERED 
(
	[SeguridadObjetoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SeguridadObjeto] ON
INSERT [dbo].[SeguridadObjeto] ([SeguridadObjetoID], [NombreObjeto]) VALUES (1, N'Atencion Visitantes')
INSERT [dbo].[SeguridadObjeto] ([SeguridadObjetoID], [NombreObjeto]) VALUES (2, N'Consulta de Visitas')
SET IDENTITY_INSERT [dbo].[SeguridadObjeto] OFF
/****** Object:  Table [dbo].[SeguridadGrupo]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SeguridadGrupo](
	[SeguridadGrupoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreGrupo] [varchar](50) NOT NULL,
	[DescripcionGrupo] [varchar](200) NOT NULL,
 CONSTRAINT [PK_SeguridadGrupo] PRIMARY KEY CLUSTERED 
(
	[SeguridadGrupoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SeguridadGrupo] ON
INSERT [dbo].[SeguridadGrupo] ([SeguridadGrupoID], [NombreGrupo], [DescripcionGrupo]) VALUES (1, N'Atención Visitas', N'Recepcion')
INSERT [dbo].[SeguridadGrupo] ([SeguridadGrupoID], [NombreGrupo], [DescripcionGrupo]) VALUES (6, N'Consultas', N'Solo realizan consultas')
INSERT [dbo].[SeguridadGrupo] ([SeguridadGrupoID], [NombreGrupo], [DescripcionGrupo]) VALUES (9, N'Opciones Especiales', N'Actualizan tablas')
SET IDENTITY_INSERT [dbo].[SeguridadGrupo] OFF
/****** Object:  Table [dbo].[Cita]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cita](
	[CitaID] [int] IDENTITY(1,1) NOT NULL,
	[MedicoConsultorioID] [int] NOT NULL,
	[FechaCita] [smalldatetime] NOT NULL,
	[CedulaPacienteCita] [numeric](18, 0) NOT NULL,
	[NombrePacienteCita] [varchar](100) NOT NULL,
	[CelularPacienteCita] [varchar](100) NOT NULL,
	[EMailPacienteCita] [varchar](100) NULL,
	[EstatusCitaID] [int] NOT NULL,
	[FechaCreacionCita] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Cita] PRIMARY KEY CLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cita] ON
INSERT [dbo].[Cita] ([CitaID], [MedicoConsultorioID], [FechaCita], [CedulaPacienteCita], [NombrePacienteCita], [CelularPacienteCita], [EMailPacienteCita], [EstatusCitaID], [FechaCreacionCita]) VALUES (1, 0, CAST(0xA7690000 AS SmallDateTime), CAST(10530364 AS Numeric(18, 0)), N'CARLOS CEBALLOS', N'0412954444', N'', 1, CAST(0xA763035F AS SmallDateTime))
INSERT [dbo].[Cita] ([CitaID], [MedicoConsultorioID], [FechaCita], [CedulaPacienteCita], [NombrePacienteCita], [CelularPacienteCita], [EMailPacienteCita], [EstatusCitaID], [FechaCreacionCita]) VALUES (2, 0, CAST(0xA7670000 AS SmallDateTime), CAST(10530364 AS Numeric(18, 0)), N'CARLOS CEBALLOS', N'0412954444', N'', 1, CAST(0xA7630361 AS SmallDateTime))
INSERT [dbo].[Cita] ([CitaID], [MedicoConsultorioID], [FechaCita], [CedulaPacienteCita], [NombrePacienteCita], [CelularPacienteCita], [EMailPacienteCita], [EstatusCitaID], [FechaCreacionCita]) VALUES (3, 0, CAST(0xA7670000 AS SmallDateTime), CAST(10530364 AS Numeric(18, 0)), N'CARLOS CEBALLOS', N'0412954444', N'', 1, CAST(0xA7630362 AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[Cita] OFF
/****** Object:  Table [dbo].[Paciente]    Script Date: 05/01/2017 19:06:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paciente](
	[PacienteID] [int] IDENTITY(1,1) NOT NULL,
	[CedulaPaciente] [int] NOT NULL,
	[NombrePaciente] [varchar](64) NOT NULL,
	[CelularPaciente] [varchar](64) NOT NULL,
	[DireccionPaciente] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[PacienteID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[usp_CitaAgendar_InsertarCita]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CitaAgendar_InsertarCita]
	(
		@MedicoConsultorioID int,
		@FechaCita varchar(200),
		@CedulaPacienteCita int,
		@NombrePacienteCita varchar(200),
		@CelularPacienteCita varchar(200),
		@EMailPacienteCita varchar (200)
	)
AS
BEGIN
	INSERT INTO Cita
	(
		MedicoConsultorioID,
		FechaCita,
		CedulaPacienteCita,
		NombrePacienteCita,
		CelularPacienteCita,
		EMailPacienteCita
	) 
	VALUES
	(
		@MedicoConsultorioID,
		@FechaCita,
		@CedulaPacienteCita,
		@NombrePacienteCita,
		@CelularPacienteCita,
		@EMailPacienteCita
	)
	SELECT @@IDENTITY
	END
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Municipio](
	[MunicipioID] [int] NOT NULL,
	[EstadoID] [int] NOT NULL,
	[NombreMunicipio] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Municipio] PRIMARY KEY CLUSTERED 
(
	[MunicipioID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Municipio] ([MunicipioID], [EstadoID], [NombreMunicipio]) VALUES (1, 1, N'Alto Orinoco')
INSERT [dbo].[Municipio] ([MunicipioID], [EstadoID], [NombreMunicipio]) VALUES (2, 1, N'Atabapo')
INSERT [dbo].[Municipio] ([MunicipioID], [EstadoID], [NombreMunicipio]) VALUES (3, 1, N'Atures')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  Table [dbo].[Ciudad]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ciudad](
	[CiudadID] [int] NOT NULL,
	[EstadoID] [int] NOT NULL,
	[NombreCiudad] [varchar](50) NOT NULL,
	[IndicaCapital] [int] NOT NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[CiudadID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Ciudad] ([CiudadID], [EstadoID], [NombreCiudad], [IndicaCapital]) VALUES (1, 1, N'Maroa', 0)
INSERT [dbo].[Ciudad] ([CiudadID], [EstadoID], [NombreCiudad], [IndicaCapital]) VALUES (2, 1, N'Puerto Ayacucho', 1)
INSERT [dbo].[Ciudad] ([CiudadID], [EstadoID], [NombreCiudad], [IndicaCapital]) VALUES (3, 1, N'San Fernando de Atabapo', 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
/****** Object:  StoredProcedure [dbo].[usp_SeguridadUsuario_ObtenerLogin]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadUsuario_ObtenerLogin]

	@LoginUsuario varchar(100)

AS	
BEGIN
	SELECT  *
	FROM   dbo.SeguridadUsuarioDatos
	WHERE     (LoginUsuario = @LoginUsuario)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadUsuario_Insertar]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadUsuario_Insertar]
	(
		@SeguridadUsuarioDatosID int,
		@LoginUsuario varchar(200),
		@ClaveUsuario varchar(200),
		@NombreCompleto varchar(300),
		@DescripcionUsuario varchar(300),
		@SeguridadGrupoID int,
		@UsuarioTecnico int,
		@EstatusUsuario varchar(200)
	)
AS
BEGIN
	INSERT INTO SeguridadUsuarioDatos
	(
		LoginUsuario,
		ClaveUsuario,
		NombreCompleto,
		DescripcionUsuario,
		SeguridadGrupoID,
		UsuarioTecnico,
		EstatusUsuario
	)
	VALUES
	(
		@LoginUsuario,
		@ClaveUsuario,
		@NombreCompleto,
		@DescripcionUsuario,
		@SeguridadGrupoID,
		@UsuarioTecnico,
		@EstatusUsuario
		
	)
		select @@IDENTITY
	END
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadUsuario_ActualizarClave]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadUsuario_ActualizarClave]
(
	@SeguridadUsuarioDatosID int,
	@ClaveUsuario varchar(200)
)
AS
BEGIN
	UPDATE SeguridadUsuarioDatos set 
	ClaveUsuario=@ClaveUsuario

	where SeguridadUsuarioDatosID= @SeguridadUsuarioDatosID
	
	select @@ROWCOUNT as CantidadAfectada
end
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadUsuario_Actualizar]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadUsuario_Actualizar]
(
	@SeguridadUsuarioDatosID int,
	@LoginUsuario varchar(200),
	@ClaveUsuario varchar(200),
	@NombreCompleto varchar(300),
	@DescripcionUsuario varchar(300),
	@SeguridadGrupoID int,
	@UsuarioTecnico int,
	@EstatusUsuario varchar(200)
)
AS
BEGIN
	UPDATE SeguridadUsuarioDatos set 
	LoginUsuario=@LoginUsuario,
	ClaveUsuario=@ClaveUsuario,
	NombreCompleto=@NombreCompleto,
	DescripcionUsuario=@DescripcionUsuario,
	SeguridadGrupoID =@SeguridadGrupoID,
	UsuarioTecnico = @UsuarioTecnico,
	EstatusUsuario = @EstatusUsuario
	
	where SeguridadUsuarioDatosID= @SeguridadUsuarioDatosID
	
	select @@ROWCOUNT as CantidadAfectada
end
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadObjetoGrupo_ObtenerObjetosGrupo]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadObjetoGrupo_ObtenerObjetosGrupo]
(
	@SeguridadGrupoID int
)
AS	
BEGIN
SELECT     TOP (100) PERCENT dbo.SeguridadGrupo.NombreGrupo, dbo.SeguridadObjeto.NombreObjeto, dbo.SeguridadObjetoAcceso.SeguridadGrupoID, 
                      dbo.SeguridadObjetoAcceso.SeguridadObjetoID, dbo.SeguridadGrupo.DescripcionGrupo, dbo.SeguridadObjetoAcceso.SeguridadObjetoAccesoID
FROM         dbo.SeguridadObjetoAcceso INNER JOIN
                      dbo.SeguridadObjeto ON dbo.SeguridadObjetoAcceso.SeguridadObjetoID = dbo.SeguridadObjeto.SeguridadObjetoID INNER JOIN
                      dbo.SeguridadGrupo ON dbo.SeguridadObjetoAcceso.SeguridadGrupoID = dbo.SeguridadGrupo.SeguridadGrupoID
WHERE     (dbo.SeguridadObjetoAcceso.SeguridadGrupoID = @SeguridadGrupoID)
ORDER BY dbo.SeguridadGrupo.NombreGrupo, dbo.SeguridadObjeto.NombreObjeto

END
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadObjetoGrupo_ObtenerObjetoGrupo]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadObjetoGrupo_ObtenerObjetoGrupo]
(
	@SeguridadGrupoID int,
	@SeguridadObjetoID int
)
AS	
BEGIN
SELECT    *
FROM         SeguridadObjetoAcceso
WHERE     (SeguridadGrupoID = @SeguridadGrupoID) AND (SeguridadObjetoID = @SeguridadObjetoID)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadObjetoGrupo_Insertar]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadObjetoGrupo_Insertar]
	(
		@SeguridadGrupoID int,
		@SeguridadObjetoID int
	)
AS
BEGIN
	insert into SeguridadObjetoAcceso 
	(
		SeguridadGrupoID, SeguridadObjetoID
	) 
	values
	(
		@SeguridadGrupoID,
		@SeguridadObjetoID
	)
	select @@IDENTITY
	END
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadObjetoGrupo_EliminarObjetoGrupo]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadObjetoGrupo_EliminarObjetoGrupo]
	 @SeguridadObjetoAccesoID int
AS
BEGIN
	DELETE FROM SeguridadObjetoAcceso WHERE SeguridadObjetoAccesoID = @SeguridadObjetoAccesoID
	select @@ROWCOUNT
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadObjeto_Insertar]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadObjeto_Insertar]
	(
		@SeguridadObjetoID int,
		@NombreObjeto varchar(200)
	)
AS
BEGIN
	insert into SeguridadObjeto (NombreObjeto) 
	values(@NombreObjeto)
	select @@IDENTITY
	END
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadObjeto_Actualizar]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadObjeto_Actualizar]
(
	@SeguridadObjetoID int,
	@NombreObjeto varchar(200)
)
AS
BEGIN
	UPDATE SeguridadObjeto set 
	NombreObjeto=@NombreObjeto
	
	where SeguridadObjetoID= @SeguridadObjetoID
	
	select @@ROWCOUNT as CantidadAfectada
end
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadGrupo_Insertar]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadGrupo_Insertar]
	(
		@SeguridadGrupoID int,
		@NombreGrupo varchar(200),
		@DescripcionGrupo varchar(200)
	)
AS
BEGIN
	insert into SeguridadGrupo (NombreGrupo, DescripcionGrupo) 
	values(@NombreGrupo,@DescripcionGrupo)
	select @@IDENTITY
	END
GO
/****** Object:  StoredProcedure [dbo].[usp_SeguridadGrupo_Actualizar]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_SeguridadGrupo_Actualizar]
(
	@SeguridadGrupoID int,
	@NombreGrupo varchar(200),
	@DescripcionGrupo varchar(200)
)
AS
BEGIN
	UPDATE SeguridadGrupo set 
	NombreGrupo=@NombreGrupo,
	DescripcionGrupo=@DescripcionGrupo
	
	where SeguridadGrupoID= @SeguridadGrupoID
	
	select @@ROWCOUNT as CantidadAfectada
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Seguridad_ObtenerAdministrador]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Seguridad_ObtenerAdministrador]
(
	@SeguridadUsuarioDatosID int
)

AS	
BEGIN
SELECT     dbo.SeguridadGrupo.NombreGrupo, dbo.SeguridadGrupo.SeguridadGrupoID, dbo.SeguridadUsuarioDatos.SeguridadUsuarioDatosID, dbo.SeguridadUsuarioDatos.NombreCompleto
FROM         dbo.SeguridadGrupo INNER JOIN
                      dbo.SeguridadUsuarioDatos ON dbo.SeguridadGrupo.SeguridadGrupoID = dbo.SeguridadUsuarioDatos.SeguridadGrupoID
WHERE     (dbo.SeguridadGrupo.SeguridadGrupoID = 10) AND (dbo.SeguridadUsuarioDatos.SeguridadUsuarioDatosID = @SeguridadUsuarioDatosID)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Seguridad_ObtenerAccesoObjeto]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Seguridad_ObtenerAccesoObjeto]
(
	@SeguridadUsuarioDatosID int,
	@SeguridadObjetoID int
)

AS	
BEGIN
SELECT     dbo.SeguridadGrupo.NombreGrupo, dbo.SeguridadObjeto.NombreObjeto, dbo.SeguridadGrupo.SeguridadGrupoID, dbo.SeguridadObjeto.SeguridadObjetoID, 
                      dbo.SeguridadUsuarioDatos.SeguridadUsuarioDatosID, dbo.SeguridadUsuarioDatos.NombreCompleto
FROM         dbo.SeguridadGrupo INNER JOIN
                      dbo.SeguridadObjetoAcceso ON dbo.SeguridadGrupo.SeguridadGrupoID = dbo.SeguridadObjetoAcceso.SeguridadGrupoID INNER JOIN
                      dbo.SeguridadObjeto ON dbo.SeguridadObjetoAcceso.SeguridadObjetoID = dbo.SeguridadObjeto.SeguridadObjetoID INNER JOIN
                      dbo.SeguridadUsuarioDatos ON dbo.SeguridadGrupo.SeguridadGrupoID = dbo.SeguridadUsuarioDatos.SeguridadGrupoID
WHERE     (dbo.SeguridadUsuarioDatos.SeguridadUsuarioDatosID = @SeguridadUsuarioDatosID) AND (dbo.SeguridadObjeto.SeguridadObjetoID = @SeguridadObjetoID)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_Login_ValidarLogin]    Script Date: 05/01/2017 19:06:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Login_ValidarLogin]
	-- Add the parameters for the stored procedure here
	@LoginUsuario varchar(500),
	@ClaveUsuario varchar(150)
	
AS

Select * from SeguridadUsuarioDatos with(nolock) where LoginUsuario = @LoginUsuario and ClaveUsuario=@ClaveUsuario
GO
/****** Object:  View [dbo].[DetalleMedicos]    Script Date: 05/01/2017 19:06:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DetalleMedicos]
AS
SELECT     TOP (100) PERCENT dbo.Estado.NombreEstado, dbo.Medico.NombreMedico, dbo.EspecialidadMedica.NombreEspecialidadMedica, dbo.Medico.DescripcionEspecialidad, dbo.Estado.EstadoID, 
                      dbo.Medico.MedicoID
FROM         dbo.Ciudad INNER JOIN
                      dbo.Estado ON dbo.Ciudad.EstadoID = dbo.Estado.EstadoID INNER JOIN
                      dbo.DiaSemana INNER JOIN
                      dbo.MedicoCalendarioSemana ON dbo.DiaSemana.DiaSemanaID = dbo.MedicoCalendarioSemana.DiaSemanaID INNER JOIN
                      dbo.TipoHoraSemana ON dbo.MedicoCalendarioSemana.TipoHoraSemanaID = dbo.TipoHoraSemana.TipoHoraSemanaID INNER JOIN
                      dbo.MinutosSemana ON dbo.MedicoCalendarioSemana.MinutosSemanaID = dbo.MinutosSemana.MinutosSemanaID INNER JOIN
                      dbo.HoraSemana ON dbo.MedicoCalendarioSemana.HoraSemanaID = dbo.HoraSemana.HoraSemanaID INNER JOIN
                      dbo.Medico INNER JOIN
                      dbo.MedicoConsultorio ON dbo.Medico.MedicoID = dbo.MedicoConsultorio.MedicoID INNER JOIN
                      dbo.EspecialidadMedica ON dbo.Medico.EspecialidadMedicaID = dbo.EspecialidadMedica.EspecialidadMedicaID ON 
                      dbo.MedicoCalendarioSemana.MedicoConsultorioID = dbo.MedicoConsultorio.MedicoConsultorioID INNER JOIN
                      dbo.FormaPago ON dbo.MedicoConsultorio.FormaPagoID = dbo.FormaPago.FormaPagoID ON dbo.Ciudad.CiudadID = dbo.MedicoConsultorio.CiudadID
GROUP BY dbo.Medico.NombreMedico, dbo.EspecialidadMedica.NombreEspecialidadMedica, dbo.Medico.DescripcionEspecialidad, dbo.Estado.EstadoID, dbo.Medico.MedicoID, 
                      dbo.Estado.NombreEstado
ORDER BY dbo.Estado.NombreEstado, dbo.Medico.NombreMedico
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[27] 4[49] 2[3] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Ciudad"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 126
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Estado"
            Begin Extent = 
               Top = 6
               Left = 236
               Bottom = 111
               Right = 423
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DiaSemana"
            Begin Extent = 
               Top = 6
               Left = 461
               Bottom = 96
               Right = 621
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MedicoCalendarioSemana"
            Begin Extent = 
               Top = 6
               Left = 659
               Bottom = 126
               Right = 881
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TipoHoraSemana"
            Begin Extent = 
               Top = 114
               Left = 236
               Bottom = 204
               Right = 443
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MinutosSemana"
            Begin Extent = 
               Top = 96
               Left = 461
               Bottom = 186
               Right = 636
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HoraSemana"
            Begin Extent = 
               Top = 126
               Left = 38
               Bottom = 216
               Right = 199
            End
       ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetalleMedicos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'     DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Medico"
            Begin Extent = 
               Top = 76
               Left = 653
               Bottom = 196
               Right = 854
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MedicoConsultorio"
            Begin Extent = 
               Top = 186
               Left = 481
               Bottom = 306
               Right = 668
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EspecialidadMedica"
            Begin Extent = 
               Top = 204
               Left = 237
               Bottom = 294
               Right = 454
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FormaPago"
            Begin Extent = 
               Top = 216
               Left = 38
               Bottom = 306
               Right = 218
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 21
         Width = 284
         Width = 1245
         Width = 1755
         Width = 1755
         Width = 2115
         Width = 4425
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 8220
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetalleMedicos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetalleMedicos'
GO
/****** Object:  View [dbo].[DetalleCalendarioConsultorio]    Script Date: 05/01/2017 19:06:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DetalleCalendarioConsultorio]
AS
SELECT     TOP (100) PERCENT dbo.MedicoCalendarioSemana.MedicoCalendarioSemanaID, dbo.Ciudad.NombreCiudad, dbo.DiaSemana.DiaSemanaID, dbo.TipoHoraSemana.TipoHoraSemanaID, 
                      dbo.DiaSemana.DiaSemana, dbo.HoraSemana.HoraSemana, dbo.MinutosSemana.MinutosSemana, dbo.TipoHoraSemana.NombreTipoHoraSemana, dbo.Medico.NombreMedico, 
                      dbo.EspecialidadMedica.NombreEspecialidadMedica, dbo.Medico.DescripcionEspecialidad, dbo.MedicoConsultorio.DireccionConsultorio, dbo.MedicoConsultorio.TelefonoConsultorio, 
                      dbo.Estado.NombreEstado, dbo.FormaPago.NombreFormaPago, dbo.MedicoConsultorio.MedicoConsultorioID, dbo.FormaPago.FormaPagoID, dbo.Estado.EstadoID, dbo.Ciudad.CiudadID, 
                      dbo.MedicoConsultorio.NumeroMaximoCitas, dbo.Medico.MedicoID, dbo.MedicoCalendarioSemana.IndicaHoraInicial
FROM         dbo.Ciudad INNER JOIN
                      dbo.Estado ON dbo.Ciudad.EstadoID = dbo.Estado.EstadoID INNER JOIN
                      dbo.DiaSemana INNER JOIN
                      dbo.MedicoCalendarioSemana ON dbo.DiaSemana.DiaSemanaID = dbo.MedicoCalendarioSemana.DiaSemanaID INNER JOIN
                      dbo.TipoHoraSemana ON dbo.MedicoCalendarioSemana.TipoHoraSemanaID = dbo.TipoHoraSemana.TipoHoraSemanaID INNER JOIN
                      dbo.MinutosSemana ON dbo.MedicoCalendarioSemana.MinutosSemanaID = dbo.MinutosSemana.MinutosSemanaID INNER JOIN
                      dbo.HoraSemana ON dbo.MedicoCalendarioSemana.HoraSemanaID = dbo.HoraSemana.HoraSemanaID INNER JOIN
                      dbo.Medico INNER JOIN
                      dbo.MedicoConsultorio ON dbo.Medico.MedicoID = dbo.MedicoConsultorio.MedicoID INNER JOIN
                      dbo.EspecialidadMedica ON dbo.Medico.EspecialidadMedicaID = dbo.EspecialidadMedica.EspecialidadMedicaID ON 
                      dbo.MedicoCalendarioSemana.MedicoConsultorioID = dbo.MedicoConsultorio.MedicoConsultorioID INNER JOIN
                      dbo.FormaPago ON dbo.MedicoConsultorio.FormaPagoID = dbo.FormaPago.FormaPagoID ON dbo.Ciudad.CiudadID = dbo.MedicoConsultorio.CiudadID
WHERE     (dbo.MedicoCalendarioSemana.IndicaHoraInicial = 1)
ORDER BY dbo.DiaSemana.DiaSemanaID, dbo.TipoHoraSemana.TipoHoraSemanaID, dbo.Ciudad.NombreCiudad, dbo.HoraSemana.HoraSemana
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[24] 3[35] 2) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Ciudad"
            Begin Extent = 
               Top = 222
               Left = 228
               Bottom = 406
               Right = 425
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Estado"
            Begin Extent = 
               Top = 235
               Left = 20
               Bottom = 340
               Right = 207
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DiaSemana"
            Begin Extent = 
               Top = 7
               Left = 812
               Bottom = 97
               Right = 972
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MedicoCalendarioSemana"
            Begin Extent = 
               Top = 16
               Left = 586
               Bottom = 201
               Right = 846
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TipoHoraSemana"
            Begin Extent = 
               Top = 197
               Left = 610
               Bottom = 300
               Right = 817
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MinutosSemana"
            Begin Extent = 
               Top = 96
               Left = 950
               Bottom = 186
               Right = 1125
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "HoraSemana"
            Begin Extent = 
               Top = 254
               Left = 830
               Bottom = 344
               Right = 991
            End' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetalleCalendarioConsultorio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Medico"
            Begin Extent = 
               Top = 4
               Left = 11
               Bottom = 206
               Right = 234
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MedicoConsultorio"
            Begin Extent = 
               Top = 0
               Left = 286
               Bottom = 165
               Right = 490
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "EspecialidadMedica"
            Begin Extent = 
               Top = 88
               Left = 235
               Bottom = 178
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "FormaPago"
            Begin Extent = 
               Top = 99
               Left = 524
               Bottom = 313
               Right = 704
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 23
         Width = 284
         Width = 1500
         Width = 2055
         Width = 990
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1245
         Width = 2370
         Width = 4575
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3330
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 3060
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetalleCalendarioConsultorio'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetalleCalendarioConsultorio'
GO
/****** Object:  Table [dbo].[Parroquia]    Script Date: 05/01/2017 19:06:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parroquia](
	[ParroquiaID] [int] NOT NULL,
	[MunicipioID] [int] NOT NULL,
	[NombreParroquia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Parroquia] PRIMARY KEY CLUSTERED 
(
	[ParroquiaID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Parroquia] ([ParroquiaID], [MunicipioID], [NombreParroquia]) VALUES (1, 1, N'Alto Orinoco')
INSERT [dbo].[Parroquia] ([ParroquiaID], [MunicipioID], [NombreParroquia]) VALUES (2, 1, N'Huachamacare Acanaña')
INSERT [dbo].[Parroquia] ([ParroquiaID], [MunicipioID], [NombreParroquia]) VALUES (3, 1, N'Marawaka Toky Shamanaña')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
/****** Object:  StoredProcedure [dbo].[usp_CitaAgendar_ObtenerSeleccionConsultorio]    Script Date: 05/01/2017 19:06:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_CitaAgendar_ObtenerSeleccionConsultorio]
(
	@MedicoCalendarioSemanaID int
)
AS
BEGIN
	SELECT     MedicoCalendarioSemanaID, NombreMedico, NombreEspecialidadMedica, NombreCiudad, DiaSemana, HoraSemana, MinutosSemana, NombreTipoHoraSemana, DireccionConsultorio
	FROM         dbo.DetalleCalendarioConsultorio
	WHERE     (MedicoCalendarioSemanaID = @MedicoCalendarioSemanaID)
END
GO
/****** Object:  Default [DF_MedicoConsultorio_NumeroMaximoCitas]    Script Date: 05/01/2017 19:06:24 ******/
ALTER TABLE [dbo].[MedicoConsultorio] ADD  CONSTRAINT [DF_MedicoConsultorio_NumeroMaximoCitas]  DEFAULT ((1)) FOR [NumeroMaximoCitas]
GO
/****** Object:  Default [DF_Cita_EMailPacienteCita]    Script Date: 05/01/2017 19:06:24 ******/
ALTER TABLE [dbo].[Cita] ADD  CONSTRAINT [DF_Cita_EMailPacienteCita]  DEFAULT ('N/D') FOR [EMailPacienteCita]
GO
/****** Object:  Default [DF_Cita_EstatusCitaID]    Script Date: 05/01/2017 19:06:24 ******/
ALTER TABLE [dbo].[Cita] ADD  CONSTRAINT [DF_Cita_EstatusCitaID]  DEFAULT ((1)) FOR [EstatusCitaID]
GO
/****** Object:  Default [DF_Cita_FechaCreacionCita]    Script Date: 05/01/2017 19:06:24 ******/
ALTER TABLE [dbo].[Cita] ADD  CONSTRAINT [DF_Cita_FechaCreacionCita]  DEFAULT (getdate()) FOR [FechaCreacionCita]
GO
/****** Object:  ForeignKey [FK_Municipio_Estado]    Script Date: 05/01/2017 19:06:32 ******/
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD  CONSTRAINT [FK_Municipio_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Municipio] CHECK CONSTRAINT [FK_Municipio_Estado]
GO
/****** Object:  ForeignKey [FK_Ciudad_Estado]    Script Date: 05/01/2017 19:06:32 ******/
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK_Ciudad_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [FK_Ciudad_Estado]
GO
/****** Object:  ForeignKey [FK_Parroquia_Municipio]    Script Date: 05/01/2017 19:06:33 ******/
ALTER TABLE [dbo].[Parroquia]  WITH CHECK ADD  CONSTRAINT [FK_Parroquia_Municipio] FOREIGN KEY([MunicipioID])
REFERENCES [dbo].[Municipio] ([MunicipioID])
GO
ALTER TABLE [dbo].[Parroquia] CHECK CONSTRAINT [FK_Parroquia_Municipio]
GO
